.loading-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   overflow: hidden;
}

.spinner {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 4px solid #005caa;
   border-top-color: transparent;
   animation: spin 1s infinite linear;
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}
