@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url(./component.styling.css);

* {
   font-family: "Roboto", sans-serif;
   /* overflow: hidden; */
}

:root {
   --color-background: #f9fafb;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   margin: 0 !important;
}

.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.fixed-container {
   height: 98vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   background: var(--color-background);
}

h1,
p {
   margin: 0px !important;
}

.text-40px-normal {
   font-size: 40px;
   font-weight: normal;
}

.text-16px-bold {
   font-size: 16px;
   font-weight: 700;
}

.text-20px-bold {
   font-size: 20px;
   font-weight: 700;
}

.text-14px-normal {
   font-size: 14px;
   font-weight: 400;
}
